@media screen and (max-width:740px) {
    .box1{
        flex-direction: column;
        min-width: 92vw;
        min-height: 95vh;
        height: auto;
        overflow:unset;
        max-height:unset;
        margin: 15px 3px;
    }
    .box2{
        width: 100%;
        height: auto;
        max-height: unset;
    }
    .back{
        min-height: 100vh;
        overflow-y: scroll;
    }
    .card{
        width: 100%;
    }
    .inactive{
        display: none;
    }
    li.home-active-tab a {
        background: none;
        border-radius: 13px;
    }
    .box3{
        overflow-y:unset;
        height: auto;
        max-height: unset;
    }
}